*.sh

# Python
__pycache__/
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
.env

# Testing
.pytest_cache/
coverage.xml
.coverage

# Tools
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# IDE
.idea/

# pyenv
.python-version
